body {
    background-color: black;
}

.container {
    width: 70%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-wrapper {
    display: none;
    width: 70%
}

.input {
    padding: 15px;
    border-radius: 20px;
    border: 1px solid #ccc;
    flex: 8;
    background-color: black;
}

input:focus {
    background-color: black;
    color: white;
}

.chat {
    width: 70%;
    margin-top: 50px;
}

.btn-wrapper {
    display: flex;
    gap: 10px;
}

.btn {
    padding: 15px;
    background-color: black;
    border: 1px solid;
    border-radius: 20px;
    cursor: pointer;
    color: #E0E0E0
}

.btn:hover {
    background-color: #444444;
}

.send-btn {
    flex: 2;
    font-size: 15px;
}

.send-btn:hover {
    background-color: #d9832a;
    color: #fff;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

.d-flex > * {
    margin-right: 10px;
}

.usr-message {
    margin-left: auto;
    min-width: 50px;
    text-align: center;
    border-radius: 15px;
    padding: 10px 20px  ;
    width: fit-content;
    background-color: #f3f3f3;
}

.assistant-message,
.usr-message {
    margin-bottom: 30px;
}

.assistant-message {
    color: white;
}

.d-none,
.conv {
    display: none;
}

.d-block {
    display: block;
}
